{% extends 'base.html' %}

{% block title %}Lista de Motores{% endblock %}

{% block content %}
<a href="{url "criar_motor" %}"
<h1>Motores</h1>
<a href="{% url 'sensores:criar_motor' %}" class="btn btn-primary">Criar Motor</a>
<ul>
{% for motor in objects %}
    <li>{{ motor.nome }} - {{ motor.tipo }} - {{ motor.potencia }} kW
        <a href="{% url 'sensores:atualizar_motor' motor.pk %}">Editar</a>
        <a href="{% url 'sensores:deletar_motor' motor.pk %}">Deletar</a>
    </li>
{% endfor %}
</ul>
{% endblock %}
